<footer class="footer container-fluid">
    <div class="footer_bloc row">
        <div class="f-link col-md-3"><a href="">Accueil</a></div>
        <div class="f-link col-md-2"><a href="">Les Spectacles</a></div>

        <div class="logo col-md-2">
            <img class="logo-fabulle2" src="{{ theme.link }}/assets/img/logo-jerome.png" alt="logo">
        </div>
        <div class="f-link col-md-2"><a href="">La Cie</a></div>
        <div class="f-link col-md-3"><a href="">Contact</a></div>
    </div>
</footer>