<header class="header container-fluid">
    <div class="header_bloc row">

        <div class="logo col-md-4">
            <a href="http://localhost:8000/">
                <img class="logo_fabulle" src="{{ theme.link }}/assets/img/logo_faBulle_2019.png" alt="logo">
            </a>
        </div>

        <nav class="nav col-md-8">
            <ul class="links">


                {% for item in menu.items %}
                    <a href="{{ item.link }}">
                        <li class="link">{{ item.title }}</li>
                    </a>

                {% endfor %}

            </ul>
            
        </nav>
    </div>
</header>
