@import "partials/var";
@import "partials/states";
@import "partials/fonts";

html
{
  scroll-behavior: smooth;
}
body
{
  background: $black !important;
  color: $white !important;
}
h1
{font-size: 40px;}
img
{
  display: block;
  width: 100%;
  height: auto;

}
a
{
  color: $white !important;
}
iframe
{
  display: block;
  width: 100%;
  margin: auto;

}
.header {
  position: sticky;
  top: 0;
  background: $black;
  z-index: 1000;
  height: 20vh;
}
.show-content,
.show-content2,
#title-spe {
  padding-top: 20vh;
}

.nav
{
  padding-top: 50px;}
.logo
{
  margin-top: 10px !important;
  margin-bottom: 20px;
}
.logo_fabulle
{
  max-width: 30%;
  padding: 10px;
  margin: auto;
}
.logo-fabulle2
{
  max-width: 60%;
  margin: auto;
}

.links
{
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style-type: none;
}
.thumb
{
  margin-bottom: 30px;
}

.thumb-medal img
{
  padding: 10px;

}

.link
{
 text-decoration: none;
}
.boucle
{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.the_post_medal
{
  width: 35%;
  padding: 20px;
  border-bottom: 4px solid $link;
  border-left: 4px solid $link;
  margin-bottom: 30px;
}
.f_l
{
  margin: auto;
  text-align: center;
}

.banner
{
  margin: auto;
  width: 50%;
  margin-bottom: 20px;
  padding: 50px;
}
.banner img
{
  width: 50%;
}
.titre 
{
  text-align: center;
}

.content
{
  padding: 20px;
}
.article-content
{
  margin: 0;
  width: 100%;
}

.article-loop
{
  display: flex;
  justify-content: space-around;
  margin-top: 90px;
  flex-wrap: wrap;

}
.article-loop2 img
{

  height: 120px;
  width: auto;
  margin: auto;
  margin-bottom: 10px;
}

.caption
{
  position: absolute;
  bottom: 30vh;
  padding:1px;
  padding-bottom: 30px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.4);
}
.caption2
{
  width: 60%;
  margin-left: 10%;
}
.button{
  position: absolute;
  bottom:10vh;
  //background: #324eff;
  ////padding: 10px;
  font-size:100px;
  width: 100px;
  height: 100px;
  text-align: center;
  left: 45%;
  opacity:0.2;
  transition:0.5s;
}
.button2
{
  font-size: 50px;
  bottom: 10px;
  opacity:0.5;
  position: relative;
}
.carousel-control-prev-icon,
.carousel-control-next-icon
{
  //font-size: 100px !important;
  width:100px;
  height: 100px;
  font-size:100px;
  opacity:0.2;
  transition:0.5s;
}
.article-h1
{
  font-size: 40px;
  color: $link;
}

.show_teaser
{
  padding: 40px;

}


.create_date
{
  color: rgba(255, 255, 255, 0.6);
  text-align: right;
  font-size: 12px !important;
}
.show-h1
{
  text-align: center;
}

.article-text,
.wp-block-table
{
  margin-left: 1%;
  font-size: 20px;
  margin-top: 20px;


}
.wp-block-table,
.article-text
{
  width: 70%;
  margin: auto;
}
.article-text
{
  padding: 10px;
}
.article-text-h2
{
  padding: 10px;
  font-size:30px;
}
.v-bloc
{
  height: 20vh;
}
.video-content
{
  padding: 15px;
  border: 4px solid $link;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.bref
{

  padding-top: 10vh;



}

.bref_block
{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px;
  border: 3px solid $link;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin: auto;
}
.bref-item
{
  width: 40%;
  min-height: 50px;
  padding: 10px;
}
.style
{
  width: 90%;
  font-size: 20px;
  color: $link;

}
.mentions i
{
  font-size: 12px;
  color: $link;
}
footer
{
  margin-top: 30px;
  height: 20vh;
}
.f-link
{
  line-height: 100px;
  text-align: center;
}

.page-title
{
  font-size: 100px !important;
  padding-top: 20px;
}
.show
{
  width: 40%;
  border:2px solid $link;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  margin-bottom: 100px;
  opacity:0.5;
}
.show2
{
  border: 2px solid $link;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  margin-bottom: 100px;
  width: 45%;
}
.h1-medal
{
  font-size: 20px;
  padding: 10px;
  margin-bottom: 30px;
  color: $white;

}
.totop i
{
  font-size:40px;
  display: block;
  text-align: center;
  color:rgba(255, 255, 255, 0.6);
  }

.totop
{
  opacity: 0.3;
  width: 70px;
  position: sticky;
  bottom: 10vh;
  margin-left: 90%;
  cursor: pointer;
  padding: 10px;
  font-size:8px;
  display: block;
  transition: 0.6s;

}
.totop div, .totop p
{
  text-align: center;
}

.img_alt img
{
  display: block;
  width: 50%;
  margin: auto;
}
.medal-text
{
  font-size: 12px;
  color:$link;

}

.date
{
  font-size: 30px;
  color: $link;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;

}

.place
{

}

